<div class="Column Container">
    <div class="Brand Row Text Bold Position Relative Margin Right2x Bottom15x Padding Left1x">
        <div class="Cursor Pointer Hover Underline" routerLink="/home">MorphUI</div>
        <div>&nbsp;/&nbsp;</div>
        <div>Handbook</div>
    </div>

    <div class="Action Font Small x2 Cursor Pointer Hover Underline" routerLink="/handbook/welcome" 
        routerLinkActive="Active">Welcome</div>
    <div class="Action Font Small x2 Cursor Pointer Hover Underline" routerLink="/handbook/getting-started" 
        routerLinkActive="Active">Getting Started</div>

</div>