<div class="Container">
    
    <div class="Position Relative">
        <div class="Brand Position Absolute">
            <img src="assets/images/brand-image.svg" alt="Brand_Icon" aria-label="Brand Icon" />
        </div>
    </div>

    <div class="HeroBanner Font x5 Padding Top12x Left12x Bottom7x">
        <div class="HeroText">Adapt & Adopt Future.</div>
        <div class="HeroText">Neumorphism.</div>
    </div>

    <div class="Section Padding Left12x Bottom7x">
        <div class="Heading" id="homepage-about"><a href="handbook/welcome#homepage-about">About</a></div>
        <div class="Content Text Justify">
            Neumorphism (aka neomorphism) is a relatively new design trend and a term that’s gotten a good 
            amount of buzz lately. It’s aesthetic is marked by minimal and real-looking UI that’s sort of a new take on 
            skeuomorphism — hence the name. It got its name in a UX Collective post from December 2019, and since then, 
            various design and development communities have been actively discussing the trend, usually with differing opinions. 
            Chris poked fun at it on Twitter. Adam Giebl created an online generator for it. Developers, designers, and UX specialists 
            are weighing in on the topic of aesthetics, usability, accessibility, and practicality of this design trend.
        </div>
        <div class="Cover Text Center Padding Top7x Bottom2x">
            <img src="assets/images/refrence-2.png" alt="neomorphism-reference" aria-label="neomorphism-reference"/>
        </div>
        <div class="Caption Text Center"><a href="https://dribbble.com/shots/9915063-Neumorphism" target="_blank">Credit: Sonal Shah Dribble</a></div>
    </div>

    <div class="Section Padding Left12x Bottom7x">
        <div class="Heading" id="neo-morph-as-ui"><a href="handbook/welcome#neo-morph-as-ui">Neumorphism as a user interface</a></div>
        <div class="Content Text Justify Padding Bottom2x">
            The defining quality of neumorphism is a blend of minimalism and skeuomorphism. And that’s a good way to look at it. Think 
            about the minimal aesthetic of Material Design and the hyper-realistic look of skeuomorphism. Neumorphic UI elements look like 
            they’re connected to the background, as if the elements are extruded from the background or inset into the background. They’ve 
            been described by some as “soft UI” because of the way soft shadows are used to create the effect.
        </div>
        <div class="Content Text Justify">
            The ideal element for neumorphism are cards, or any other static container element that doesn’t have states based on user 
            interaction (e.g. hover, active and disabled) or validation (e.g. error, warning, and success). 
        </div>
    </div>

    <div class="Section Padding Left12x Bottom2x">
        <div class="Heading" id="ng-morph-ui"><a href="handbook/welcome#ng-morph-ui">Morph UI</a></div>
        <div class="Content Text Justify Padding Bottom2x">
            The distinctiveness of a neumorphic UI comes from using multiple box-shadow and background-color values to achieve different types 
            of effects and variations. <a href="https://css-tricks.com/neumorphism-and-css/" target="_blank">TLDR..</a>
        </div>
    </div>

    <div class="Padding Left12x Top2x">
        <app-footer></app-footer>
    </div>

</div>