<div class="Column CenterH Text Uppercase Overflow HiddenX container">
    
    <div class="Position Relative">
        <div class="Position Absolute Morph Circle"></div>
        
        <div class="Position Absolute Morph Square"></div>
        <div class="Position Absolute Morph Circle"></div>
        <div class="Position Absolute Morph Circle"></div>
        
        <div class="Position Absolute Morph Circle"></div>
        
        <div class="Position Absolute Morph Square"></div>
    </div>

    <div class="Brand Margin Bottom4x Top35x Font x3">Morph UI</div>
    <div class="WelcomeText Font x7 Text Center">Handbook for the Brave and Bold</div>
    <div class="FillParent"></div>
    <div class="FooterText Cursor Pointer Hover Underline Margin Bottom4x" 
        (click)="this.openHandbook()">Head over to docs</div>
</div>